JWT_SECRET_KEY="23523523252352352352352"
JWT_ALGORITHM="HS256"
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

FASTAPI_PORT=8000
FASTAPI_ROOT_PATH="/"

DATABASE_URL="sqlite+aiosqlite:///./test.db"

SMTP_HOST=""
SMTP_PORT=555
SMTP_USER=""
SMTP_PASSWORD=""
SMTP_SENDFROM="no-reply@vacashon"